
  <section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</p>
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mx-1 mx-md-4">
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <input type="email" id="email" formControlName="email" class="form-control" />
                        <label class="form-label" for="email">Your Email</label>
                        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                          <small *ngIf="loginForm.get('email')?.errors?.['required']">Your Email is required.</small>
                          <small *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</small>
                        </div>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <input type="password" id="password" formControlName="password" class="form-control" />
                        <label class="form-label" for="password">Password</label>
                        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                          <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
                          <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
                        </div>
                      </div>
                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg">Login</button>
                    </div>
                  </form>
                  <label class="form-check-label" for="register">
                    Don't have an account? <a routerLink="/register">Register</a>
                  </label>
                </div>
  
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                  <img src="assets/img/gallery/small/loginmain.png" class="img-fluid" alt="Sample image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  