<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-3">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Register</p>

                <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="mx-1 mx-md-4">
                  <div class="d-flex flex-row align-items-center mb-3">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="name" formControlName="name" class="form-control" />
                      <label class="form-label" for="name">Your Name</label>
                      <div *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched">
                        <small *ngIf="myForm.get('name')?.errors?.['required']">Your Name is required.</small>
                        <small *ngIf="myForm.get('name')?.errors?.['minlength']">Your Name must be at least 3 characters
                          long.</small>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-3">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="email" formControlName="email" class="form-control" />
                      <label class="form-label" for="email">Your Email</label>
                      <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
                        <small *ngIf="myForm.get('email')?.errors?.['required']">Your Email is required.</small>
                        <small *ngIf="myForm.get('email')?.errors?.['email']">Invalid email format.</small>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-3">
                    <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="phoneNumber" formControlName="phoneNo" class="form-control" />
                      <label class="form-label" for="phoneNumber">Phone Number</label>
                      <div *ngIf="myForm.get('phoneNumber')?.invalid && myForm.get('phoneNumber')?.touched">
                        <small *ngIf="myForm.get('phoneNumber')?.errors?.['required']">Phone Number is required.</small>
                        <small *ngIf="myForm.get('phoneNumber')?.errors?.['pattern']">Phone Number must be 10 digits
                          long.</small>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-3">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="password" formControlName="password" class="form-control" />
                      <label class="form-label" for="password">Password</label>
                      <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched">
                        <small *ngIf="myForm.get('password')?.errors?.['required']">Password is required.</small>
                        <small *ngIf="myForm.get('password')?.errors?.['minlength']">Password must be at least 6
                          characters long.</small>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-3">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="confirmPassword" formControlName="confirmPassword"
                        class="form-control" />
                      <label class="form-label" for="confirmPassword">Repeat your password</label>
                      <div *ngIf="myForm.hasError('mismatch') && myForm.get('confirmPassword')?.touched">
                        <small>Passwords must match.</small>
                      </div>
                    </div>
                  </div>

                  <i class="fa-solid fa-address-card fa-lg me-3 fa-fw"></i>
                  <label class="form-label" for="role">Your Identity :</label>
                  <div class="radio-inputs">
                    <label>
                      <input class="radio-input" type="radio" (change)="selectPropertyType('Property Dealer')">
                      <span class="radio-tile">
                        <span class="radio-icon">
                          <i class="fa-solid fa-building-user"></i>
                        </span>
                        <span class="radio-label">Property Dealer</span>
                      </span>
                    </label>
                    <label>
                      <input class="radio-input" type="radio" (change)="selectPropertyType('Property Seeker')">
                      <span class="radio-tile">
                        <span class="radio-icon">
                          <i class="fa-solid fa-magnifying-glass-location"></i>
                        </span>
                        <span class="radio-label">Property Seeker</span>
                      </span>
                    </label>
                  </div>
                  <br>
                  <div class="form-check d-flex mb-5">
                    <input class="form-check-input me-2" type="checkbox" id="terms" formControlName="terms" />
                    <label class="form-check-label" for="terms">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                  </div>
                </form>
                <label class="form-check-label" for="login">
                  You already have an account? <a routerLink="">Login</a>
                </label>
              </div>

              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="assets/img/gallery/small/registermain.webp" class="img-fluid" alt="Sample image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>